<div class="container">
  <div class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/customers/A/w">A</a></li>
    <li class="page-item"><a class="page-link" href="/customers/B/w">B</a></li>
    <li class="page-item"><a class="page-link" href="/customers/C/w">C</a></li>
    <li class="page-item"><a class="page-link" href="/customers/D/w">D</a></li>
    <li class="page-item"><a class="page-link" href="/customers/E/w">E</a></li>
    <li class="page-item"><a class="page-link" href="/customers/F/w">F</a></li>
    <li class="page-item"><a class="page-link" href="/customers/G/w">G</a></li>
    <li class="page-item"><a class="page-link" href="/customers/H/w">H</a></li>
    <li class="page-item"><a class="page-link" href="/customers/I/w">I</a></li>
    <li class="page-item"><a class="page-link" href="/customers/J/w">J</a></li>
    <li class="page-item"><a class="page-link" href="/customers/K/w">K</a></li>
    <li class="page-item"><a class="page-link" href="/customers/L/w">L</a></li>
    <li class="page-item"><a class="page-link" href="/customers/M/w">M</a></li>
    <li class="page-item"><a class="page-link" href="/customers/N/w">N</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Ñ/w">Ñ</a></li>
    <li class="page-item"><a class="page-link" href="/customers/O/w">O</a></li>
    <li class="page-item"><a class="page-link" href="/customers/P/w">P</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Q/w">Q</a></li>
    <li class="page-item"><a class="page-link" href="/customers/R/w">R</a></li>
    <li class="page-item"><a class="page-link" href="/customers/S/w">S</a></li>
    <li class="page-item"><a class="page-link" href="/customers/T/w">T</a></li>
    <li class="page-item"><a class="page-link" href="/customers/U/w">U</a></li>
    <li class="page-item"><a class="page-link" href="/customers/V/w">V</a></li>
    <li class="page-item"><a class="page-link" href="/customers/W/w">W</a></li>
    <li class="page-item"><a class="page-link" href="/customers/X/w">X</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Z/w">Z</a></li>
  </div>
</div> 
