<div class="container">
  <div class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/customers/A">A</a></li>
    <li class="page-item"><a class="page-link" href="/customers/B">B</a></li>
    <li class="page-item"><a class="page-link" href="/customers/C">C</a></li>
    <li class="page-item"><a class="page-link" href="/customers/D">D</a></li>
    <li class="page-item"><a class="page-link" href="/customers/E">E</a></li>
    <li class="page-item"><a class="page-link" href="/customers/F">F</a></li>
    <li class="page-item"><a class="page-link" href="/customers/G">G</a></li>
    <li class="page-item"><a class="page-link" href="/customers/H">H</a></li>
    <li class="page-item"><a class="page-link" href="/customers/I">I</a></li>
    <li class="page-item"><a class="page-link" href="/customers/J">J</a></li>
    <li class="page-item"><a class="page-link" href="/customers/K">K</a></li>
    <li class="page-item"><a class="page-link" href="/customers/L">L</a></li>
    <li class="page-item"><a class="page-link" href="/customers/M">M</a></li>
    <li class="page-item"><a class="page-link" href="/customers/N">N</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Ñ">Ñ</a></li>
    <li class="page-item"><a class="page-link" href="/customers/O">O</a></li>
    <li class="page-item"><a class="page-link" href="/customers/P">P</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Q">Q</a></li>
    <li class="page-item"><a class="page-link" href="/customers/R">R</a></li>
    <li class="page-item"><a class="page-link" href="/customers/S">S</a></li>
    <li class="page-item"><a class="page-link" href="/customers/T">T</a></li>
    <li class="page-item"><a class="page-link" href="/customers/U">U</a></li>
    <li class="page-item"><a class="page-link" href="/customers/V">V</a></li>
    <li class="page-item"><a class="page-link" href="/customers/W">W</a></li>
    <li class="page-item"><a class="page-link" href="/customers/X">X</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Z">Z</a></li>
  </div>
</div> 
