<div class="container">
  <div class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/customers/A/wo">A</a></li>
    <li class="page-item"><a class="page-link" href="/customers/B/wo">B</a></li>
    <li class="page-item"><a class="page-link" href="/customers/C/wo">C</a></li>
    <li class="page-item"><a class="page-link" href="/customers/D/wo">D</a></li>
    <li class="page-item"><a class="page-link" href="/customers/E/wo">E</a></li>
    <li class="page-item"><a class="page-link" href="/customers/F/wo">F</a></li>
    <li class="page-item"><a class="page-link" href="/customers/G/wo">G</a></li>
    <li class="page-item"><a class="page-link" href="/customers/H/wo">H</a></li>
    <li class="page-item"><a class="page-link" href="/customers/I/wo">I</a></li>
    <li class="page-item"><a class="page-link" href="/customers/J/wo">J</a></li>
    <li class="page-item"><a class="page-link" href="/customers/K/wo">K</a></li>
    <li class="page-item"><a class="page-link" href="/customers/L/wo">L</a></li>
    <li class="page-item"><a class="page-link" href="/customers/M/wo">M</a></li>
    <li class="page-item"><a class="page-link" href="/customers/N/wo">N</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Ñ/wo">Ñ</a></li>
    <li class="page-item"><a class="page-link" href="/customers/O/wo">O</a></li>
    <li class="page-item"><a class="page-link" href="/customers/P/wo">P</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Q/wo">Q</a></li>
    <li class="page-item"><a class="page-link" href="/customers/R/wo">R</a></li>
    <li class="page-item"><a class="page-link" href="/customers/S/wo">S</a></li>
    <li class="page-item"><a class="page-link" href="/customers/T/wo">T</a></li>
    <li class="page-item"><a class="page-link" href="/customers/U/wo">U</a></li>
    <li class="page-item"><a class="page-link" href="/customers/V/wo">V</a></li>
    <li class="page-item"><a class="page-link" href="/customers/W/wo">W</a></li>
    <li class="page-item"><a class="page-link" href="/customers/X/wo">X</a></li>
    <li class="page-item"><a class="page-link" href="/customers/Z/wo">Z</a></li>
  </div>
</div> 
