  <div class="jumbotron">
    <div class="container p-2">
      <form action="/queries/{{nextStep}}/" method="POST">
        <div class="form-group row">
          <label for="dni" class="col-sm-1 col-form-label">Dni</label>
          <div class="col-sm-7">
            <input type="text" name="dni" id="dni" class="form-control" style="border-bottom-color: black; border-bottom-width: 1px;" placeholder="00000000"  autocomplete="off">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Buscar</button> 
          </div>
        </div>
      </form>
    </div>
  </div>
